.container {
    max-width: 199.9rem;
}

.container-main {
    display: flex;
    gap: 3.5rem;
    justify-content: space-around;
    padding: 0 3.4rem;
}

.container-products {
    padding: 0 3rem;
}

.main {
    min-width: 25rem;
}

/* Header */

.header {
    background-image: url('../img/header_bg.png');
    background-repeat: no-repeat;
    background-size: cover;
    height: 0;
    min-height: 39.2rem;
    max-height: 45rem;
    min-width: 64.1rem;
    max-width: 199.9rem;
    padding-top: 4.2rem;
}

.header-content {
    font-size: 4rem;
    line-height: 5.5rem;
    margin-top: 0;
}

.logo {
    width: 15.7rem;
    height: 3.6rem;
    display: inline;
    margin-top: 0;
    margin-bottom: 10.4rem;
    margin-left: 3.5rem;
}

.nav-svg {
    margin-right: 3.5rem;
    top: 5.2rem;
}

/* Triends */

.triends-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.triends-item{
    min-width: 0;
    width: calc((100% - 4px)/2);
}

.triends-border {
    min-width: 0;
}

/* News */

.news-list {
    justify-content: flex-start;
    max-width: 65rem;
}

.news-item {
    min-width: 25rem;
    max-width: 70rem;
}

/* Aside */

.news-aside {
    max-width: 27rem;
}

.news-link-aside {
    font-size: 1.4rem;
}

.news-search-input {
    min-width: 0;
}

.news-subscribe-input {
    min-width: 0;
}

.news-subscribe-button {
    min-width: 0;
}

.news-new-item {
    max-height: 7rem;
    line-height: 1;
}

.news-new-title{
    margin-top: 0;
}

/* Products */

.products-list {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.products-item {
    max-width: calc(50% - 1rem);
}

.border-products {
    min-height: 26.4rem;
}

.products-shop {
    margin-bottom: 1.5rem;
}