@font-face {
    font-family: 'Open Sans';
    src: url('https://netology-code.github.io/html-2-diploma/sources/fonts/OpenSans-Regular.woff') format('woff');
    font-weight: 400;
    font-style: normal;
  }

  @font-face {
    font-family: 'Open Sans';
    src: url('https://netology-code.github.io/html-2-diploma/sources/fonts/OpenSans-Bold.woff') format('woff');
    font-weight: 700;
    font-style: normal;
  }
  
  body {
    font-family: 'Open sans';
    font-weight: 400;
    font-size: 14px;
    box-sizing: border-box;
    position: relative;

  }
  
  .container {
    max-width: 64rem;
    margin: 0 auto;
  }

  .container-main {
    padding: 0 1.5rem 0;
  }

  .container-products {
    padding: 0 1.5rem 0;
  }

  .container-footer {
    padding: 0 1.5rem 0;
  }

  /* Header */

  .header {
    background-image: url('../img/header_bg.png');
    background-repeat: no-repeat;
    background-size: cover;
    max-width: 64rem;
    height: 64rem;
    padding-top: 3.2rem;
    position: relative;
  }

  .logo {
    width: 269px;
    height: 61px;
    display: block;
    margin: 0 auto;
    margin-top: 19.4rem;
  }

  .nav-list {
    display: none;
  }

  .nav-svg {
    margin-right: 16px;
    position: absolute;
    top: 32px;
    right: 0;
  }

  .header-content {
    color: #fff;
    font-size: 2.6rem;
    line-height: 3.6rem;
    font-weight: 700;
    text-transform: uppercase;
    min-width: 32rem;
    max-width: 64rem;
    text-align: center;
    margin: 3.4rem auto 0;
    padding: 0 0.3rem 0 0.3rem;
  }

  /* Triends */

  .triends {
    margin-top: 4.1rem;
  }

  .triends-title {
    display: flex;
    justify-content: center;
    color: #0F0D0E;
    font-size: 1.6rem;
    font-weight: 700;
    text-transform: uppercase;
    margin-bottom: 3.6rem;
    position: relative;
  }

  .triends-title::after {
    content: '';
    position: absolute;
    top: 2.6rem;
    border-bottom: 3px solid rgba(181, 159, 91, 0.4);
    width: 6.6rem;
  }

  .triends-garden {
    background-image: url('../img/triends_one.png');
  }

  .triends-cheese {
    background-image: url('../img/triends_two.png');
  }

  .triends-mountains {
    background-image: url('../img/triends_three.png');
  }

  .triends-lemon {
    background-image: url('../img/triends_four.png');
  }

  .triends-item {
    background-repeat: no-repeat;
    background-size: cover;
    min-width: 36rem;
    height: 23.1rem;
    padding-left: 1.7rem;
    padding-right: 1.9rem;
    padding-bottom: 1.6rem;
    display: flex;
    align-items: flex-end;
    margin-bottom: 0.25rem;
  }

  .triends-border {
    border: 3px solid rgba(181, 159, 91, 0.6);
    min-width: 32.8rem;
    max-width: 64.1rem;
    width: 100%;
  }

  .triends-item-title {
    font-size: 1.6rem;
    color: #fff;
    font-weight: 700;
    line-height: 2rem;
    text-transform: uppercase;
    margin-left: 2.1rem;
    margin-bottom: 3rem;
  }

  .tags-list {
    display: flex;
    margin-top: 1.4rem;
  }

  .tags-item {
    margin-left: 2.1rem;
  }

  .tags-link {
    color: #B59F5B;
    font-weight: 700;
    font-size: 14px;
    line-height: 37px;
    text-transform: uppercase;
    text-decoration: none;
  }

  /* News_main */

  .news-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
  .news-item {
    margin-top: 4.4rem;
    max-width: 64rem;
  }

  .news-item::after {
    content: '';
    border: 3px solid #EEEEEE;
    margin-top: 2.2rem;
    display: block;
    min-width: 27rem;
  }

  .news-item-img {
    width: 100%;
  }

  .news-info {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    gap: 1rem;
  }

  .tags-item-news {
    margin-left: 0;
    margin-right: 2rem;
  }

  .news-link {
    text-decoration: none;
    color: #0F0D0E;
    text-transform: uppercase;
    font-size: 16px;
    font-weight: 700;
    line-height: 2rem;

  }

  .news-date {
    font-size: 1.2rem;
    color: #888888;
  }

  .news-author {
    font-size: 1.2rem;
    color: #000000;
    font-weight: 700;
  }

  .news-description {
    font-size: 14px;
    font-weight: 400;
    line-height: 2rem;
    color: #0F0D0E;
  }

  .tags-list-news {
    margin-top: 0;
  }


  .news-info-other {
    display: flex;
    flex-direction: row;
    gap: 1.7rem;
  }

  /* Aside News */

  .news-aside {
    margin-top: 4rem;
  }

  .aside-title {
    display: flex;
    justify-content: center;
    text-transform: uppercase;
    color: #0F0D0E;
    font-size: 1.6rem;
    font-weight: 700;
    margin-bottom: 4.2rem;
    position: relative;
  }

  .aside-title::after {
    content: '';
    position: absolute;
    top: 2.6rem;
    border-bottom: 3px solid rgba(181, 159, 91, 0.4);
    width: 6.6rem;
  }

  .news-new-item {
    display: flex;
    gap: 2rem;
    margin-bottom: 2.2rem;
  }

  .news-new-title {
    margin-top: 1.1rem;
  }

  .news-new-date {
    font-size: 1.2rem;
    color: #707070;
    vertical-align: top;
  }

/* Aside  Search*/
  .news-search {
    margin: 6.6rem 0 4.4rem;
  }

  .news-search-form {
    display: flex;
  }
  
  .search-label {
    width: 100%;
  }

  .news-input {
    background-color: #F4F7F6;
    border: none;
    padding: 1.2rem 0 1.2rem 2rem ;
  }

  .news-search-input {
    min-width: 28.2rem;
    min-height: 4.8rem;
    width: 100%;
  }

  .news-search-button {
    width: 4.8rem;
    height: 4.8rem;
    background-color: #B59F5B;
    border: none;
  }

  /* Aside Subscribe */
  .news-subscribe-input {
    min-width: 32.9rem;
    width: 100%;
  }

  .news-subscribe-button {
    min-width: 32.9rem;
    min-height: 4.8rem;
    border: none;
    background-color: #B59F5B;
    color: #fff;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 1.4rem;
    margin: 1.7rem 0 4.5rem;
    width: 100%;
  }

  /* Aside Tags */

  .tags-aside-list {
    display: flex;
    flex-wrap: wrap;
    gap: 0.3rem;
  }

  .tags-aside-item {
    font-size: 1.2rem;
    font-weight: 700;
    text-transform: uppercase;
    border: 0.3rem solid #EEEEEE;
    padding: 0.8rem 1.5rem 0.7rem 1.3rem;
    margin-bottom: 0.6rem;
  }

  .tags-aside-link {
    text-decoration: none;
    color: #0F0D0E;
  }

  /* Aside Themse */

  .themse-aside {
    margin-top: 4.5rem;
  }

  .themse-aside-item {
    margin-bottom: 1.7rem;
    margin-top: 3rem;
    position: relative;
  }

  .themse-aside-item::after {
    content: '';
    position: absolute;
    width: 100%;
    top: 3rem;
    left: 0 ;
    border-bottom: 0.1rem solid #EEEEEE;
  }

  .themse-aside-link {
    font-size: 1.4rem;
    font-weight: 700;
    text-decoration: none;
    color: #000000;
    margin-top: 1.2rem;
  }

  .themse-aside-count {
    font-size: 1.2rem;
    color: #B59F5B;
    font-weight: 700;
    vertical-align: top;
  }

/* Products */

.products-item {
  margin-bottom: 5.5rem;
}

.border-products {
  border: 3px solid rgba(181, 159, 91, 0.6);
  margin-top: -3rem;
  position: relative;
  z-index: 1;
}

.products-title {
  margin-top: 4.4rem;
}

.products-img {
  display: block;
  margin: 0 auto;
  position: relative;
}

.products-content {
  padding-left: 2.2rem;
  padding-right: 2.2rem;
}

.products-item-title {
  font-size: 1.7rem;
  font-weight: 700;
  color: #0F0D0E;
  text-transform: uppercase;
  margin-top: 5.5rem;
}

.products-descr {
  font-size: 1.5rem;
  color: #0F0D0E;
  font-weight: 400;
  line-height: 2.2rem;
}

.products-descr-link {
  color: #B59F5B;
  font-size: 1.5rem;
}

.shop {
  background-color: #B59F5B;
  color: #FFFFFF;
  font-size: 1.4rem;
  text-transform: uppercase;
  font-weight: 700;
  text-decoration: none;
  padding: 1.5rem 2.8rem 1.5rem 3rem;
}

.products-shop {
  display: flex;
  justify-content: space-between;
  margin-bottom: 2.5rem;
  margin-top: 2.6rem;
  align-items: flex-end;
}

.price-products {
  font-weight: 700;
  font-size: 2rem;
}

.old-price {
  text-decoration: line-through;
}




/* Footer */

.social {
background-color: #F4F7F6;
margin-bottom: 5rem;
}

.social-list {
  display: flex;
  justify-content: center;
  gap: 3rem;
  padding: 3rem 0;
}

.social-icon {
  width: 2rem;
  height: 2rem;
}

.copyright {
  margin-bottom: 4.6rem;
}

.copyright-link {
  font-size: 1.2rem;
  color: #999999;
  text-decoration: none;
  font-weight: 700;
  display: flex;
  justify-content: center;
}

















  .visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    padding: 0;
    border: 0;
    clip: rect(0 0 0 0);
    overflow: hidden;
  } 